.statsContainer {
	background-color: var(--clr-card-bg);
	border-radius: 0 0 0.5rem 0.5rem;
	border-top: 0.2rem solid var(--clr-gb-6);
	font-size: calc(var(--base-font) - 0.3rem);
	padding: 1.9rem 2rem;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	color: var(--clr-gb-4);

	position: relative;
}

.statsContainer button {
	color: inherit;
	cursor: pointer;
}

.statsContainer button.activeFilter {
	color: var(--clr-blue);
}

.statsFilter {
	display: flex;
	justify-content: space-between;
	font-weight: var(--fw-bold);
	color: inherit;
}

.clearCompletedContainer {
	display: flex;
	justify-content: flex-end;
}

@media screen and (max-width: 550px) {
	.statsFilter {
		background-color: var(--clr-card-bg);
		border-radius: 0.5rem;
		padding: 1rem 2rem;
		justify-content: space-evenly;
		position: absolute;
		top: 65px;
		width: 100%;
	}

	.statsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
