:root {
	--ff-sans: 'Josefin Sans', sans-serif;
	--base-font: 1.6rem;
	--fw-normal: 400;
	--fw-bold: 700;
	--clr-primary: hsl(0, 0%, 98%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-page-bg: hsl(235, 21%, 11%);
	--clr-card-bg: hsl(235, 24%, 19%);
	--clr-blue: hsl(220, 98%, 61%);
	--clr-green: hsl(192, 100%, 67%);
	--clr-pink: hsl(280, 87%, 65%);
	--clr-gb-1: hsl(236, 33%, 92%);
	--clr-gb-2: hsl(234, 39%, 75%);
	--clr-gb-3: hsl(234, 11%, 52%);
	--clr-gb-4: hsl(237, 12%, 36%);
	--clr-gb-5: hsl(233, 14%, 35%);
	--clr-gb-6: hsl(235, 19%, 24%);

	--clr-box-shadow: hsl(0, 0%, 0%, 0.1);

	--img-bg-dark: url('./assets/bg-desktop-dark.jpg');
	--img-bg-light: url('./assets/bg-desktop-light.jpg');
	--img-bg-mobile-dark: url('./assets/bg-mobile-dark.jpg');
	--img-bg-mobile-light: url('./assets/bg-mobile-light.jpg');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	position: relative;
}

html,
body {
	min-height: 100%;
}

ul {
	list-style: none;
}

img {
	user-select: none;
}

body {
	--background-image: var(--img-bg-mobile-light);
	--background-color: var(--clr-white);

	font: var(--fw-normal) var(--base-font) var(--ff-sans);
	background: var(--background-color) var(--background-image) no-repeat 0% 0% /
		100vw 30rem;
	padding-top: 8rem;
	width: min(85%, 54rem);
	margin: auto;
}

input,
button {
	font: inherit;
	border: 0;
	background: transparent;
}

input:focus,
button:focus {
	outline: 0;
}

button {
	display: flex;
	user-select: none;
}

.d-none {
	display: none;
}

.dark body {
	--background-color: var(--clr-page-bg);
	--background-image: var(--img-bg-mobile-dark);
}

@media screen and (min-width: 550px) {
	body {
		--background-image: var(--img-bg-light);
	}

	.dark body {
		--background-image: var(--img-bg-dark);
	}
}
