.taskItem {
	background-color: var(--clr-card-bg);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.9rem 2rem;
	gap: 2rem;
	transition: 0.4s ease;
	border-top: 0.2rem solid var(--clr-gb-6);
}

.taskItem:first-child {
	border-top: 0;
}

.checkBoxContainer {
	width: 2.5rem;
	height: 2.5rem;
	border: 0.1rem solid var(--clr-gb-5);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.checkBox {
	transform: scale(1.8);
	opacity: 0;
}

.checkBox:checked + .checkBoxSpan {
	background: url('../../assets/icon-check.svg'),
		linear-gradient(45deg, var(--clr-green), var(--clr-pink));
	background-repeat: no-repeat;
	background-position: center;
}

.checkBoxSpan {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	border-radius: inherit;
}

.taskItemMessage {
	flex: 1;
	color: var(--clr-gb-2);
}

.taskCompleted {
	text-decoration: line-through;
	color: var(--clr-gb-2);
}

.btnClear {
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.taskItem:hover .btnClear {
	opacity: 1;
	pointer-events: all;
}
